<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Flask App</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
  <h1>Hello World</h1>
  <p>Cantidad de usuarios registrados: <b>{{ num_users }}</b></p>
  <a href="/signup">Registrar un nuevo usuario</a>
  {% if user %}
  <table>
    <thead>
      <th>Nombre</th>
      <th>Correo</th>
    </thead>
    <tbody>
      {% for data in user %}
      <tr>
        <td>{{ data.name }}</td>
        <td>{{ data.email }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
</body>
</html>